@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p >Olá! Aqui  quem fala é <b>Novadson Thelus</b>,o canditado que desenvolveu este projeto,siga algumas instrução para poder rodar o projeto:</p>
</div>
